[submodule "home/private_dot_config/spicetify/CustomApps/better-local-files"]
path = home/private_dot_config/spicetify/CustomApps/better-local-files
url = https://github.com/Pithaya/spicetify-apps-dist
branch = dist/better-local-files

[submodule "home/private_dot_config/spicetify/CustomApps/marketplace"]
path = home/private_dot_config/spicetify/CustomApps/marketplace
url = https://github.com/spicetify/spicetify-marketplace
branch = dist

[submodule "home/private_dot_config/spicetify/CustomApps/stats"]
path = home/private_dot_config/spicetify/CustomApps/stats
url = https://github.com/harbassan/spicetify-stats
branch = dist
