/* @help: https://github.com/davatorium/rofi/blob/next/CONFIG.md */

{{ if eq .dark_mode true -}}
@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
{{ else -}}
@theme "/usr/share/rofi/themes/gruvbox-light-soft.rasi"
{{ end }}
