[Audio]
DisableAudioDucking=true

[Basic]
ConfigOnNewProfile=false
Profile=primary
ProfileDir=primary
SceneCollection=main
SceneCollectionFile=main

[BasicWindow]
DocksLocked=true
DockState=AAAA/wAAAAD9AAAAAQAAAAMAAAn8AAABN/wBAAAABPwAAAAAAAABhgAAAKAA////+gAAAAECAAAAA/sAAAAUAHMAYwBlAG4AZQBzAEQAbwBjAGsBAAAEEQAAATcAAAB0AP////sAAAAWAHMAbwB1AHIAYwBlAHMARABvAGMAawEAAAAA/////wAAAHQA////+wAAAB4AdAByAGEAbgBzAGkAdABpAG8AbgBzAEQAbwBjAGsBAAAAAP////8AAABkAP////sAAAASAG0AaQB4AGUAcgBEAG8AYwBrAQAAAYoAAAH4AAAA3gD////7AAAAEgBzAHQAYQB0AHMARABvAGMAawEAAAOGAAAFBgAAAn8A////+wAAABgAYwBvAG4AdAByAG8AbABzAEQAbwBjAGsBAAAIkAAAAWwAAACeAP///wAACfwAAAP3AAAAAQAAAAIAAAABAAAAAvwAAAAA
PreviewEnabled=true
RecordWhenStreaming=false

[General]
FirstRun=true

{{ if eq .dark_mode true -}}
CurrentTheme3=Dark
{{ else -}}
CurrentTheme3=Light
{{ end }}

[Video]
Renderer=Direct3D 11
