[General]
Name=primary

[Stream1]
IgnoreRecommended=false

[Output]
FilenameFormatting=%CCYY-%MM-%DD %hh-%mm-%ss
LowLatencyEnable=true
Mode=Advanced
Reconnect=true

[AdvOut]
ApplyServiceSettings=true
AudioEncoder=ffmpeg_aac
Encoder=ffmpeg_vaapi
RecAudioEncoder=ffmpeg_aac
RecEncoder=ffmpeg_vaapi
RecFileNameWithoutSpace=true
RecFilePath={{ env "XDG_VIDEOS_DIR" }}
RecFormat2=fragmented_mp4
RecRB=true
RecRBSize=512
RecRBTime=60
RecTracks=1
RecType=Standard
Track1Bitrate=320
Track2Bitrate=320
Track3Bitrate=320
Track4Bitrate=320
Track5Bitrate=320
Track6Bitrate=320
TrackIndex=1
VodTrackEnabled=true
VodTrackIndex=2

[Audio]
ChannelSetup=Stereo
PeakMeterType=1
SampleRate=48000

[Video]
BaseCX=1920
BaseCY=1080
OutputCX=1920
OutputCY=1080
FPSCommon=60
ColorFormat=NV12
ColorSpace=709
ColorRange=Partial
